//basic
$black: #000;
$white: #fff;
//text
$text-primary: #000;
$text-title-primary: #E8D7B5;
$text-third: #D9D9D9;


//button


//background
$bg-primary: #F0E9DC;
$bg-second: #F9F7F3;
$bg-third: #F5F5F5;

//active
$active: #E8D7B5;


//font
$tillana: 'Tillana', cursive;
$inika: 'Inika', serif;
$arvo: 'Arvo', serif;
$sacramento: 'Sacramento', cursive;