<div class="l-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 border-left border-bottom py-5">
                <div class="f-logo">
                    <a href="">Little Cozy</a>
                    <div class="f-form">
                        <form action="#">
                            <input type="email" placeholder="your email">
                            <button class="btn btn-primary btn-send" type="submit">send</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-left border-bottom py-5">
                <div class="f-contact">
                    <h2 class="heading-arvo">Little Cozy</h2>
                    <p>dohuonggiang1507@gmail.com</p>
                    <p>0352956182</p>
                </div>
            </div>
            <div class="col-md-6 line-container"></div>
            <div class="col-md-6 py-6 border-left">
                <div class="d-flex align-items-center justify-content-center f-text">
                    <h2 class="heading-arvo">dESIGN BY  lITTLE cOZY</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    littlecozy.tk
</div>
