<div class="l-header">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="h-logo">
                <a href="index.html">Little Cozy</a>
            </div>
            <div class="h-menu">
                <ul>
                    <li class="active"><a href="#">Shop</a></li>
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">LookBook</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>